<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847906309293-06psjss8njaj8uij1jn8v24obgsgnk6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847906309293-06psjss8njaj8uij1jn8v24obgsgnk6s</string>
	<key>API_KEY</key>
	<string>AIzaSyCOvPdLcAl89k-CUJR8v7uf7Hjdz_Ju1Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>847906309293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omsi96.guitars</string>
	<key>PROJECT_ID</key>
	<string>myguitars-be5ca</string>
	<key>STORAGE_BUCKET</key>
	<string>myguitars-be5ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847906309293:ios:93a8ed6052defe74873224</string>
	<key>DATABASE_URL</key>
	<string>https://myguitars-be5ca.firebaseio.com</string>
</dict>
</plist>