<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930902565956-t0q0lp9r4mj3eu95c8j8d1g0ancs1a2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930902565956-t0q0lp9r4mj3eu95c8j8d1g0ancs1a2a</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ8KhKiAOhK_gpQUbU_6uf4Jkl1yjGTsw</string>
	<key>GCM_SENDER_ID</key>
	<string>930902565956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Omsi.FlyMeToTheMoon</string>
	<key>PROJECT_ID</key>
	<string>flymetothemoon-97142</string>
	<key>STORAGE_BUCKET</key>
	<string>flymetothemoon-97142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930902565956:ios:0e00c31c60ddde0922c811</string>
	<key>DATABASE_URL</key>
	<string>https://flymetothemoon-97142.firebaseio.com</string>
</dict>
</plist>